/* index.css */

/* Font From CDN */
@import "./assets/css/font/font-cdn.css";
@import "./assets/css/icomoon/styles.css";

/* Layout  */
@import "./assets/css/App.css";
@import "./assets/css/bootstrap.css";
@import "./assets/css/bootstrap_limitless.css";
@import "./assets/css/colors.css";
@import "./assets/css/components.css";
@import "./assets/css/layout.css";
